<app-navbar></app-navbar>
<div class="hero">
  <h1>Learn<br />Japanese</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, dolore? Quasi natus minus enim autem. Cum, delectus
    nisi, commodi accusamus possimus culpa sit ipsum aliquid ex dolores voluptates ut placeat!
  </p>
  <div class="btn">Get started</div>
</div>
<ul class="keys">
  <li>
    <app-item [url]="'/assets/book.png'" text="Ane lesson pcked with"></app-item>
  </li>
  <li>
    <app-item [url]="'/assets/headset.png'" text="Ane lesson pcked with"></app-item>
  </li>
  <li>
    <app-item [url]="'/assets/loop.png'" text="Ane lesson pcked with"></app-item>
  </li>
</ul>
